aside{margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

aside{display:block;
}

aside{
	float: right;
	width: 30%;
    margin-right: 50px;
}

img-aside{
	display:block;
	margin:auto;
}
